@import "tailwindcss/theme" layer(theme);
@import "./theme/theme.css" layer(theme);

@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);

@import "./components/default.css" layer(components);
@import "./components/shiki.css" layer(components);

@custom-variant dark (&:where(.darkmode, .darkmode *));
