.shiki code { @apply flex flex-col; }
.shiki .line { @apply px-3 leading-[1.35]; }

.shiki {
    counter-reset: step;
    counter-increment: step 0;
}

.shiki .line:not(:last-child)::before {
    counter-increment: step;
    @apply inline-block mr-4 w-6.25 text-right opacity-40 content-[counter(step)];
}

/* .shiki .indent:nth-child(even) { @apply invisible; } */
.shiki .indent { @apply inline-block relative left-(--indent-offset); }
.shiki .indent:empty { @apply h-lh align-bottom }
.shiki .indent::before { @apply absolute w-px h-full opacity-[0.10] bg-current content-[''] }

.shiki, .shiki span { @apply dark:text-(--shiki-dark)! dark:bg-(--shiki-dark-bg)!; }
.shiki .highlighted, .shiki .highlighted span { @apply bg-[#e7e2b9]! dark:bg-[#1d212b]!; }
.shiki .line:not(.highlighted):hover,
.shiki .line:not(.highlighted):hover span { @apply bg-[#f4f0d0]! dark:bg-[#12161c]!; }
